**/__pycache__/*

*/.idea
.idea/*

*.iws
*.iml

/out/

.idea_modules/
config/*
config/blueprints/automation/homeassistant/notify_leaving_zone.yaml
config/blueprints/script/homeassistant/confirmable_notification.yaml

